html {
    font-size: 62.5%;
}

@media (max-width: 1200px) {
    html {
        font-size: 56.25%;
    }
}

@media (max-width: 900px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 43.75%;
    }
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1.subtitle {
    color: white;
    font-size: 42pt;
    font-size: 5.6em;
    line-height: 1;
    width: 700px;
    font-weight: 900;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

div.subtitle-container {
    width: 100%;
    padding-left: 36.5%;
}

h2 {
    color: #721e41;
    font-size: 28pt;
    font-size: 4em;
    line-height: 1;
    padding: 10px 0 10px 0;
    font-weight: 900;
    margin-bottom: 5px;
}

h3 {
    font-weight: 700;
    color: #721e41;
    font-size: 20pt;
    font-size: 3.6em;
    line-height: 1;
    padding: 0px;
    margin: 30px 0 10px 0;
    width: 100%;
}

h4 {
    color: #FFF;
    background-color: #636363;
    font-size: 16pt;
    font-size: 3.2em;
    font-weight: 500;
    line-height: 1;
    padding: 5px 0 5px 0;
    margin: 0px;
    width: 80%;
    text-align: center;
    width: 100%;
}

p {
    color: #000;
    font-size: 14pt;
    font-size: 2.2em;
    font-weight: 300;
    line-height: 1.3;
    padding: 6px;
    margin: 0px;
}

ul.facts {
    list-style-image: url('assets/Chevron-Bullet.png');
    font-size: 14pt;
    font-size: 2.2em;
    font-weight: 300;
}

ul>li {
    margin: .8em;
}

a {
    color: #0067CC;
}

.nav {
    background-color: #721E41;
    max-width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav>a {
    text-decoration: none;
    width: 100%;
}

.nav-logo {
    display: flex;
    height: 60px;
    margin-left: 18%;
}

.container {
    width: 63%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.hero {
    background-image: url("assets/Main-Image.jpg");
    background-position: bottom;
    top: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-image {
    object-position: center;
    object-fit: none;
    width: 100%;
    height: 80vh;
    position: relative;
    z-index: -1;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.hero-content {
    background: linear-gradient(#FFFFEEAB 15%, #FFFFEE90 20%, #FFFFEE10 45%, #FFFFEE10 60%, #000000AB 100%);
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.hero-content>h1 {
    max-width: 700px;
}

.dest-health-logo {
    width: 50%;
    max-width: 60%;
    padding-top: 30px;
    filter: drop-shadow(1px 1px 2px #721E41AB);
}

.main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.main-content {
    width: 100%;
}

.CTA {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.CTA>img {
    width: 300px;
    border: 3px solid #721E41;
}

.CTA>a.schedule {
    padding-top: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px;
}

.CTA>a.schedule>h3 {
    padding: 0;
    margin: 0;
}

.CTA>a.schedule>p {
    font-weight: 500;
    font-size: 2.5em;
    text-align: center;
}

/* MAP */

.map-container {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
}

#map {
    position: relative;
    width: 100%;
    height: 100%;
}

.marker {
    display: block;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    padding: 0;
}

.marker-image {
    border-radius: 50%;
}

.mapboxgl-popup {
    max-width: 350px;
}

.maplibregl-popup-content.mapboxgl-popup-content {
    background-color: #E8E6E5;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip,
.maplibregl-popup-anchor-left .maplibregl-popup-tip {
    border-right-color: #E8E6E5;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip,
.maplibregl-popup-anchor-right .maplibregl-popup-tip {
    border-left-color: #E8E6E5;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.maplibregl-popup-anchor-top .maplibregl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
.maplibregl-popup-anchor-top-right .maplibregl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.maplibregl-popup-anchor-top-left .maplibregl-popup-tip {
    border-bottom-color: #E8E6E5;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.maplibregl-popup-anchor-bottom .maplibregl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.maplibregl-popup-anchor-bottom-left .maplibregl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
.maplibregl-popup-anchor-bottom-right .maplibregl-popup-tip {
    border-top-color: #E8E6E5;
}

h5 {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    text-align: left;
}

.maplibregl-popup-content.mapboxgl-popup-content>p {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-size: 16px;
    text-align: left;
}

.maplibregl-popup-content.mapboxgl-popup-content>p.address {
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 5px;
}

.maplibregl-popup-content.mapboxgl-popup-content>p.bio {
    font-weight: 300;
    font-size: 15px;
    line-height: 1.3;
}

.maplibregl-popup-content.mapboxgl-popup-content>div.make-appt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.maplibregl-popup-content.mapboxgl-popup-content>div>a {
    font-family: 'Roboto', sans-serif;
    background: #721E41;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0 auto;
    border-radius: 5px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

/* MAP END */

.physicians-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3px;
}

.physician-card>p {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.physician-card>p>strong {
    font-weight: 500;
    font-size: 16px;
}

.physician-card {
    background-color: #E1E0DE;
    display: flex;
    flex-direction: column;
    padding: 20px 0 10px 0;
    justify-content: space-around;
    align-items: center;
}

.physician-card > img {
    border-radius: 50%;
}

.physician-card>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.physician-card>div>a {
    font-family: 'Roboto', sans-serif;
    background: #721E41;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

/* FOOTER */

footer {
    padding-bottom: 50px;
}

/* UTILITY CLASSES */

.mobile-only {
    visibility: hidden;
    display: none;
}

.desktop-only {
    visibility: visible;
}

.hidden-desktop {
    visibility: hidden;
    display: none;
}

/* MEDIA QUERIES */
/* laptop */

@media (max-width: 1200px) {
    .nav-logo {
        margin: 0 auto;
    }

    .hero {
        background-position: 80%;
        height: 50vh;
    }

    .desktop-only {
        visibility: hidden;
        display: none;
    }

    .main {
        grid-template-columns: 1fr;
    }

    .CTA {
        padding: 0;
    }
}

/* tablet */

@media (max-width: 900px) {
    h1.subtitle {
        width: 70%;
    }

    div.subtitle-container {
        width: 100%;
        padding-left: 20%;
    }

    .nav {
        height: 60px;
    }

    .nav-logo {
        height: 50px;
    }

    .container {
        width: 80%;
    }

    .dest-health-logo {
        width: 100%;
        max-width: 80%;
    }

    .hidden-desktop {
        visibility: visible;
        display: block;
    }
}

/* mobile */

@media (max-width: 450px) {
    .nav {
        height: 50px;
    }

    .nav-logo {
        height: 40px;
    }

    h1.subtitle {
        width: 100%;
        font-size: 4.5em;
        margin-bottom: 10px;
    }

    div.subtitle-container {
        width: 100%;
        padding-left: 0%;
        text-align: center;
    }

    .hero {
        background-position: 72%;
        height: 39vh;
    }

    .dest-health-logo {
        width: 100%;
        max-width: 90%;
        padding-top: 10px;
    }

    .container {
        width: 90%;
    }

    .physicians-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .physician-card>p {
        font-size: 18px;
    }

    .physician-card>p>strong {
        font-size: 18px;
    }

    .physician-card {
        padding: 20px 0 20px 0;
    }

    .hidden-mobile {
        visibility: hidden;
        display: none;
    }

    .mobile-only {
        visibility: visible;
        display: block;
    }
}

/* MEDIA QUERIES END */